@import url(https://fonts.googleapis.com/css?family=Raleway);

body {
  font-family: "Raleway", sans-serif !important;
}

main {
  min-height: 85vh;
}

/*From Medium Screen*/
@media (min-width: 576px) {
  .page-content {
    padding-top: 30px;
  }
  main {
    min-height: 80vh;
  }
}

.about-img {
  border-radius: 70%;
  width: 300px;
}

.index-page {
  height: 80vh;
}

.active{
  border-bottom: 3px solid #41638c;
}

.typing-effect{
  min-height: 100px !important;
}

/*Modal Styling*/

.modal{
  border: 1px solid #41638c !important;
}
.modal-dialog{
  min-width: 70% !important;
}
.modal-header{
  color: #ffffff !important;
  background-color: #41638c !important;
  border-top-left-radius: 0px !important;
  border-top-right-radius: 0px !important;
}
